.nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav ul{
    list-style: none;
    
    text-align: center;
}
.navLogo{
    display: flex;
    align-items: center;
    color: white;
    width: 20em;
    justify-content: center;
}
.nav li{

    display: inline;
    margin-left: 2%;
    margin-right: 2%;
}
.nav a:hover{
    border-bottom: 3px solid #ffbb7a;
}
.nav a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.832);
    font-weight: bold;
    margin: 2%;
}

.nav img{
    
    content: url('../../imgs/gclogo.png');
    height: 30px;
}
.nav img:hover{
    
    content: url('../../imgs/gclogohover.png');
}