.nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}
.nav ul{
    list-style: none;
    
    text-align: center;
}
.navLogo{
    display: flex;
    align-items: center;
    color: rgba(112, 99, 99, 0.832);
    width: 20em;
    justify-content: center;
}
.nav li{

    display: inline;
    margin-left: 2%;
    margin-right: 2%;
}
.nav a:hover{
    border-bottom: 3px solid #ffbb7a;
    color: rgb(18, 17, 17);
    
}
.nav a{
    text-decoration: none;
    color: rgba(112, 99, 99, 0.832);
    font-weight: bold;
    margin: 2%;
}
.nav a.active{
    color: rgb(18, 17, 17);
    border-bottom: 3px solid #ffbb7a;
}

.nav img{
    
    content: url('../../imgs/gclogohover.png');
    height: 30px;
}
